{{#if success_msg}}
  <div class="alert text-white px-3 py-2 bg-green-500 shadow">{{success_msg}}</div>
{{/if}}

{{#if error_msg}}
  <div class="alert text-white px-3 py-2 bg-red-500 shadow">{{error_msg}}</div>
{{/if}}